.atom-text-editor {
  font-size: 14px;
  line-height: 1.5;
}

.line {
  min-height: 21px;
}

.line-number {
  padding-right: 0.5em;
}

textarea {
  /*display: none;*/
  width: 100%;
  padding: 0.7em;
  resize: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3em;
  background: transparent;
}
